<header class="header">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/experience.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/skills.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/testimonials.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/footer.css">
    <div class="container">
        <nav class="navbar">
            <a href="#" class="nav-logo">
                <img src="images/logo.png" alt="Company Logo">
            </a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="index.html" class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a href="teaching.html" class="nav-link">Teaching</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">About</a>
                </li>
            </ul>
            <div class="hamburger" aria-controls="navbar" aria-expanded="false" tabindex="0" role="button"
                aria-label="Toggle navigation">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</header>