@media only screen and (max-width:768px) {

    .left,
    .right {
      width: 100%;
    }
  
    .container {
      max-width: 90%;
      margin: auto;
    }
  
    /*---------home--------*/
    .home .container {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  
    .home {
      padding-top: 0%;
    }
  
    .home .left {
      padding-top: 0%;
    }
  
    .home button {
      margin-top: 20px;
    }
  
    /*---------home--------*/
    /*---------about--------*/
    .about .container {
      flex-direction: column;
    }
  
    .heading h2 {
      margin-top: 20px;
    }
  
    /*---------about--------*/
    /*---------services--------*/
    .services {
      margin-top: 100px;
    }
  
    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  
    /*---------services--------*/
    /*---------skill--------*/
    .skills .container {
      flex-direction: column;
    }
  
    /*---------skill--------*/
    /*---------portfolio--------*/
    .portfolio .content {
      flex-direction: column;
    }
  
    .portfolio .filter-menu {
      margin-top: 30px;
    }
  
    /*---------portfolio--------*/
    /*---------experience--------*/
    .experience .content {
      flex-direction: column;
    }
  
    .experience .left img {
      width: 100%;
    }
  
    .experience .left,
    .right {
      width: 100%;
    }
  
    /*---------experience--------*/
    /*---------Testimonials--------*/
    .Testimonials .container {
      flex-direction: column;
    }
  
    /*---------Testimonials--------*/
    /*---------contact--------*/
    .contact .container {
      flex-direction: column;
    }
  
    .contact .left {
      width: 100%;
    }
  
    .contact .right {
      width: 100%;
    }
  
    /*---------contact--------*/
    /*---------social_media--------*/
    footer .content,
    .social_media .content {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /*---------social_media--------*/
  }
  
  @media only screen and (max-width:511px) {
    .heading h2 {
      font-size: 30px;
    }
  
    .heading h3 {
      font-size: 20px;
    }
  
    .heading h4 {
      font-size: 17px;
    }
  
    /*---------about--------*/
    .about .box {
      margin: 5px;
    }
  
    .about .items {
      margin-left: 0%;
    }
  
    .about .items:nth-child(1) {
      margin-left: 0%;
    }
  
    /*---------about--------*/
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /*---------skills--------*/
    .skill-container {
      flex-grow: 2;
      flex-wrap: wrap;
    }
  
    /*---------skills--------*/
    /*---------contact--------*/
    .contact .input {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /*---------contact--------*/
    /*---------social_media--------*/
    .social_media {
      height: auto;
      padding-bottom: 50px;
    }
  
    footer .content,
    .social_media .content {
      grid-template-columns: repeat(1, 1fr);
    }
  
    footer {
      text-align: center;
    }
  
    .legal {
      font-size: 8px;
    }
  
    /*---------social_media--------*/
  }